body {
  background: var(--surface-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", "Helvetica", sans-serif;
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--text-color);
}

header {
  padding: var(--space-xl) var(--space-xl);
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  flex-wrap: wrap;

  nav {
    margin-left: auto;
  }

  border-bottom: var(--standard-border);
}

header a {
  text-decoration: none;
  color: inherit;
}

.site-title {
  font-size: var(--text-xl);
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

nav {
  display: flex;
  gap: var(--space-lg);
  flex-wrap: wrap;

  a {
    font-size: var(--text-sm);
    color: #444;
  }

  a.active {
    border-bottom: 4px solid var(--primary-color);
  }

  a:hover {
    color: #000;
  }
}

footer {
  display: grid;

  grid-template-columns:
    [page-start] minmax(30px, 1fr) [content-start] min(100% - 60px, 1024px) [content-end] minmax(30px, 1fr) [page-end];

  padding: var(--space-3xl) var(--space-xl);
  font-size: var(--text-sm);
  background: var(--surface-color-dark);

  color: rgba(255, 255, 255, 0.6);

  a {
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      color: var(--primary-color);
    }
  }

  > * {
    grid-column: content;
  }

  .grid {
    grid-template-columns: 2fr 1fr 1fr;
  }

  > div:first-child {
   padding-bottom: var(--space-xl);
  }

  .legal {
    border-top: rgba(255, 255, 255, 0.2) solid 1px;
    padding-top: var(--space-md);
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.4);
  }

  ul {
    list-style: none;
    display: grid;
    margin-top: var(--space-sm);
    gap: var(--space-sm);
  }


}


/* ── Page grid ── */

.page-grid {
  display: grid;
  grid-template-columns:
    [page-start] minmax(30px, 1fr) [content-start] min(100% - 60px, 1024px) [content-end] minmax(30px, 1fr) [page-end];

  >section {
    grid-column: content;
    padding: var(--space-3xl) 0;
  }

  >.full-bleed {
    grid-column: page;
    display: grid;
    grid-template-columns: subgrid;

    >* {
      grid-column: content;
    }
  }

  >.full-bleed-special {
    grid-column: page;
  }
}


/* ── Image grid ── */

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--space-md);
}

.image-grid figure img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.image-grid figure figcaption {
  font-size: var(--text-sm);
  margin-top: var(--space-sm);
  color: #555;
}


/* ── Gallery grid ── */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: var(--space-md);

  figure {
    figcaption {
      margin: 0 var(--space-md);
      text-align: center;
      font-size: var(--text-sm);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}


/* ── Forms ── */

form {
  display: grid;
  gap: var(--space-lg);
  container-type: inline-size;

  label {
    display: block;
    margin-bottom: var(--space-sm);
    font-weight: var(--weight-bold);
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }

  input:not([type='checkbox'], [type='radio'], [type='file']),
  textarea,
  select {
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--text-base);
    line-height: 1.6;
  }

  input.minimal {
    border: none;
    border-bottom: 1px solid #E9C3A6;
    background: none;
    color: white;
    border-radius: 0;
    &:focus {
      outline: none;
      border-bottom-color: white;
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;

    &.first {
      justify-content: flex-end;
    }
  }

  .field-pair {
    @container (width < 700px) {
      display: grid;
      gap: var(--space-md);
    }

    @container (width >=700px) {
      display: flex;
      gap: var(--space-md);

      >div {
        flex-grow: 1;
      }
    }
  }
}


/* ── Buttons ── */

button,
a.button {
  color: #fff;
  border: none;
  padding: var(--space-base) var(--space-lg);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background: var(--primary-color);
  transition: background 0.3s ease;

  &:hover {
    background: var(--primary-color-darker);
  }

  &.secondary {
    background: var(--secondary-color);
  }

  &.ghost {
    background: none;
    border: none;
    color: var(--primary-color);
  }

  &.reverse {
    background: rgba(255, 255, 255, 0.8);
    color: var(--primary-color);
    &:hover {
      background: white;
    }
  }

}


/* ── Components ── */

.amenity-list {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr 1fr;

  >div {
    display: flex;
    gap: 1ch;
    align-items: center;
  }

  dt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 6px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-size: var(--text-xs);
  }

  dd,
  a {
    color: var(--text-color-lighter);
  }
}

.event-dates {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;

  background: var(--border-color);
  border: 1px solid var(--border-color);
  gap: 1px;

  li {
    background: white;
    padding: var(--space-md);
    flex-grow: 1;

    .day,
    .month {
      text-transform: uppercase;
      color: var(--text-color-light);
      font-size: var(--text-sm);
    }

    .day {}

    .date {
      font-size: var(--text-xl);
      font-weight: var(--weight-light);
    }

    .month {}

    .times {
      font-size: var(--text-sm);
    }

    &.open {

      &,
      >div {
        color: white;
      }

      background: var(--primary-color);
    }



  }
}

/* ── Icons ── */

.icon-medium {
  font-size: var(--text-2xl);
}




.hero-gallery {
  display: flex;
  gap: var(--space-xs);
}



.leaflet-popup-content-wrapper {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}


.icon-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-lg);

  a {
    text-decoration: none;
    font-weight: var(--weight-semi-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-sm) var(--space-md);

    &.current {
      background: #eee;
    }
  }
}

section {
  img {
    border: var(--standard-border);
  }
}

section.breadcrumb {
  text-transform: uppercase;
  font-size: var(--text-sm);
  display: flex;
  gap: var(--space-md);
  padding: var(--space-lg) 0 0 0;

  &,
  a {
    color: var(--text-color-light);
  }

  a {
    text-decoration: none;
  }
}

.facilities {
  display: flex;
  flex-wrap: wrap;

  .chip {
    background: white;
  }
}


section#venue {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-2xl);

  .leaflet-container {
    border: var(--standard-border);
  }


  h3 {
    text-transform: uppercase;
    font-size: var(--text-sm);
    font-weight: var(--weight-light);
    margin-bottom: var(--space-sm);
    color: var(--text-color-light);
  }
}



figure {
  img {
    border: var(--standard-border);
  }
  figcaption {
    margin-top: var(--space-sm);
  }
}


