@custom-media --tablet (width >= 600px);
@custom-media --large (width >= 900px);

@layer theme {
:root {

  /* https://utopia.fyi/type/calculator/?c=360,16,1.333,1240,16,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --text--2: clamp(0.5628rem, 0.5628rem + 0vw, 0.5628rem);
  --text--1: clamp(0.7502rem, 0.7502rem + 0vw, 0.7502rem);
  --text-0: clamp(1rem, 1rem + 0vw, 1rem);
  --text-1: clamp(1.333rem, 1.333rem + 0vw, 1.333rem);
  --text-2: clamp(1.7769rem, 1.7769rem + 0vw, 1.7769rem);
  --text-3: clamp(2.3686rem, 2.3686rem + 0vw, 2.3686rem);
  --text-4: clamp(3.1573rem, 3.1573rem + 0vw, 3.1573rem);
  --text-5: clamp(4.2087rem, 4.2087rem + 0vw, 4.2087rem);
  --text-6: clamp(5.6102rem, 5.6102rem + 0vw, 5.6102rem);


  /* Font weights */
  --weight-light: 200;
  --weight-regular: 300;
  --weight-semi-bold: 500;
  --weight-bold: 700;

  /* Spacing scale */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-base: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;

  /* Base Colors */

  --surface-color: white;
  --surface-color-medium: #e0dacc;
  --surface-color-dark: #161410;

  --text-color: #1a1a1a;
  --text-color-light: #797469;
  --primary-color: #D8693B;
  --secondary-color: #387FBA;
  --tertiary-color: #377C57;

  /* Derived Colours */
  --text-color-lighter: oklch(from var(--text-color) calc(l + 0.3) c h);
  --primary-color-lighter: oklch(from var(--primary-color) calc(l + 0.2) c h);
  --primary-color-lightest: oklch(from var(--primary-color) calc(l + 0.4) c h);

  --primary-color-darker: oklch(from var(--primary-color) calc(l - 0.2) c h);


  --secondary-color-lighter: oklch(from var(--secondary-color) calc(l + 0.2) c h);


  --border-color: #D2CDC2;
  --border-color-light: #E6E2D9;
  --standard-border: 1px solid var(--border-color);
  --light-border: 1px solid var(--border-color-light);


  /* Standard breakpoints */
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;

}
}
